.footer-container {
  padding: 22px;
  top: 250px;
}

.footer-text {
  color: $color-gray;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: left;
  line-height: 18px;
}