@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%clear {
  content:' ';
  display:table;
}
.clear {
  *zoom:1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear:both;
  }
}