$color-black: rgb(0, 0, 0);
$color-gray: rgb(180, 180, 180);
$color-green: rgb(0, 199, 0);
$color-green-a: rgba(0, 199, 0, 0.65);
$color-white: rgb(255, 255, 255);
$color-white-a: rgba(255, 255, 255, 0.65);